/* Products */

.header {
    background-color: #319ac7;
    width: 100%;
    position: fixed;
    z-index:999;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.Mmen {
    padding-top: 3rem;
}


#logo {
    width: 7%;
    padding-bottom: 5px;


}
.nav{
display: inline;    
padding: 10px 10px;
float: right;

}
.nav a:hover{
    color: rgb(19, 19, 19);
}
span a {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(245, 248, 248);
    font-weight: 700;

    
}

.sec {
    padding :10px 2%;
  
        

}
.products {
    display: flex;
    width:100%;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.products .card {  
    width: 310px;
    background: #f5f5f5 ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) ;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;


}
.products .card img{
    height: 250px;
    width: 100%;

}
.products .card .desc {
    padding: 5px 20px;
    opacity: 0.8;
}
.products .card .title {
    font-weight: 900 ;
    font-size: 20px;
    color:#424144 ;
    padding-left:20px;

}

.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
}

.products .card .box .price {
    color: red;
    font-size: 20px;
    font-size: bold;
}

.products .card .box .btn {
    font-size: 13px;
    color : red;
    padding : 10px 18px;
    font-weight:900;
    border-radius:20px;
    


}
.products .card .box .btn:hover {
    cursor:pointer ;
    background-color: red;
    color: white;
    float: right;



}

.head 
{
    background-color:#007f8080 ;
    text-align: center;
}







